*{ margin:0; padding: 0; }

body{ font-family: helvetica; font-size: 15px; color:#123; }
header {height: 50px; background-color:  #3498db; padding: 0px 10px }
footer {position:fixed; bottom:0; left:0; right:0; color:#ffffff; height: 30px; background-color:  #000000 ; padding: 10px 10px; text-align: center}




.container{margin: 0 auto; width: 1500px;}

#conteudo { background-color: #aed6f1 ;padding: 30px 5px; font-size: 16px; height: 100%}

#menu{ float: right; font-size: 16px; padding: 15px 25px;}
#menu a{ text-decoration: none; padding: 10px 180px; color: #ffffff;}
#menu a:hover {background-color: #aed6f1; }

#tituloHOME {text-align: center;} 